#Database configurations
DB_HOST=localhost
DB_USER=root
DB_NAME=your_database
DB_PASS=

#Your company email to send verification codes and your email app code 
EMAIL=
APP=

#JWT 32 character long secret key
SECRET=